.card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  max-width: 300px;
  color: white;
}

.card:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card:hover .imgCont .filter {
  background: rgba(0, 0, 0, 0);
}

.card .imgCont {
  vertical-align: middle;
  font-size: 0;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card .imgCont .filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.315);
}

.card .imgCont img {
  width: 100%;
  min-width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card .details {
  border-radius: 0 0 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #161616;
  padding: 5px 15px 20px 15px;
}

.card .details .title {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}

.card .details .description {
  margin: 10px 0px;
  color: gray;
  padding: 0 8px;
}

.card .details .description::first-letter {
  text-transform: capitalize;
}

.card .details .price i {
  color: #e04646;
  font-size: 1.3rem;
}

.card .details .price .priceValue {
  font-size: 1.8rem;
  font-weight: 500;
}

.card .details .buy {
  text-decoration: none;
  color: #2fce84;
  border: 1px solid #2fce84;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card .details .buy:hover {
  color: black;
  font-weight: 500;
  background: #2fce84;
}

.card .details .labels {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 10px;
}

.card .details .labels .label {
  border: 1px solid #e05454;
  color: #e05454;
  padding: 2px 10px;
  border-radius: 10px;
  margin: 5px;
  display: inline-block;
}

.card .details .labels .label:hover {
  color: black;
  background: #e05454;
}

.card .details .labels .label::first-letter {
  text-transform: capitalize;
}

.card .details .labels .category {
  border: 1px solid #6289d3;
  color: #6289d3;
  padding: 2px 10px;
  border-radius: 10px;
  margin: 5px;
  display: inline-block;
}

.card .details .labels .category:hover {
  color: black;
  background: #6289d3;
}

.card .details .labels .category::first-letter {
  text-transform: capitalize;
}
/*# sourceMappingURL=card.module.css.map */